<div class="flex flex-col sm:flex-row">
    <img
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuDS7xTRaM0BG85TZZ2i77ar_k8mR8VBIaWL2bpy6FGsP6YTljkaOe7JVAbzvXoSwUy9mq5i5VmhrW3NEsEzIfxiU4PDMp6_qJs5PPG7CN3Ri47iMKrpT-pzORqS-WriAqSwcqY-DV78GmaECvjquamughuQxk3ceA58z-fac5n5zaaM9_bEI-8uXn9zzqzCW-zV0PyuRRsP2R0iT8jxpXgAFcLop8OPKe_GTWeNQA3lvOHEHFHj-rj158QfpOdVKGAUKK9LCSC5fYA"
    />
    <div>
        <h1 class="font-bold tracking-[-0.015em] px-4 text-left pb-3 pt-5">
            Hydrating Face Serum
        </h1>
        <p class="text-base font-normal leading-normal pb-3 pt-1 px-4">
            This serum is formulated with hyaluronic acid and vitamin C to
            provide deep hydration and brighten the skin. Suitable for all skin
            types.
        </p>
    </div>
    <div class="flex flex-row md:flex-row">
        <div>
            <h3
                class="text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4"
            >
                Price
            </h3>
            <p class="text-base font-normal leading-normal pb-3 pt-1 px-4">
                $29.99
            </p>
        </div>
        <app-rating></app-rating>
    </div>
</div>
