<div class="bg-slate-50 md:px-5">
    <div class="flex items-center bg-slate-50 p-4 pb-2 justify-between">
        <h2
            class="text-[#0d151c] text-lg font-bold leading-tight tracking-[-0.015em] flex-0 text-center"
        >
            Kaufy
        </h2>
        <app-icon-group
            (searchQuery)="searchQuery($event)"
            (invalidQuery)="invalidQuery()"
        ></app-icon-group>
    </div>
    <app-search-bar
        (invalidQuery)="invalidQuery()"
        (searchQuery)="searchQuery($event)"
        class="sm:hidden"
    ></app-search-bar>
</div>
