<svg width="0" height="0" style="position: absolute">
    <defs>
        <clipPath id="overlayClipPath" clipPathUnits="objectBoundingBox">
            <path
                d="
                   M 0 0 
                   Q 0 0.025 0.01 0.05 
                   Q 0.02 0.075 0.025 0.1 
                   Q 0.025 0.125 0.015 0.15 
                   Q 0 0.175 0.01 0.2 
                   Q 0.025 0.225 0.025 0.25 
                   Q 0.025 0.275 0.015 0.3 
                   Q 0 0.325 0.015 0.35 
                   Q 0.025 0.375 0.025 0.4 
                   Q 0.025 0.425 0.015 0.45 
                   Q 0 0.475 0 0.5 
                   Q 0 0.525 0.01 0.55 
                   Q 0.02 0.575 0.025 0.6 
                   Q 0.025 0.625 0.015 0.65 
                   Q 0 0.675 0.01 0.7 
                   Q 0.025 0.725 0.025 0.75 
                   Q 0.025 0.775 0.015 0.8 
                   Q 0 0.825 0.015 0.85 
                   Q 0.025 0.875 0.025 0.9 
                   Q 0.025 0.925 0.015 0.95 
                   Q 0 0.975 0 1 
                   L 1 1 
                   Q 0.985 0.98 0.99 0.95 
                   Q 1 0.92 0.99 0.9 
                   Q 0.98 0.87 0.98 0.85 
                   Q 0.98 0.83 0.99 0.8 
                   Q 1 0.78 0.99 0.75 
                   Q 0.98 0.73 0.98 0.7 
                   Q 0.98 0.67 0.99 0.65 
                   Q 1 0.63 0.99 0.6 
                   Q 0.98 0.58 0.98 0.55 
                   Q 0.98 0.53 0.99 0.5 
                   Q 1 0.48 1 0.45 
                   Q 0.99 0.43 0.99 0.4 
                   Q 0.99 0.38 0.995 0.35 
                   Q 1 0.33 0.995 0.3 
                   Q 0.99 0.28 0.99 0.25 
                   Q 0.99 0.23 0.995 0.2 
                   Q 1 0.18 0.995 0.15 
                   Q 0.99 0.13 0.99 0.1 
                   Q 0.99 0.07 0.995 0.05 
                   Q 1 0.025 1 0 
                   Z
                "
            />
        </clipPath>
    </defs>
</svg>
<div
    class="overlay-wrapper h-full w-full flex items-center justify-center bg-gradient-to-b from-[var(--color-primary-500)] to-[var(--color-primary-700)]"
>
    <p class="text-white">Loading...</p>
</div>
